<ul class="nav">
    {{#foreach navigation from="4" to="6"}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>