@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600;700;800;900&display=swap');
$font-family-sans-serif: 'Encode Sans', sans-serif; 
$indigo: #7D3EE3;
$primary: $indigo;
$blue: #00B2FF;
$green: #8DDB11;
$yellow: #FCBD00;
$red: #FF4635;
$gray-100: rgb(246, 249, 255);
$gray-200: rgb(219, 228, 238);
$gray-300: rgb(220, 228, 236);
$gray-400: rgb(209, 221, 235);
$gray-500: rgb(174, 190, 204);
$gray-600: rgb(105, 117, 128);
$gray-700: rgb(60, 68, 77);
$gray-800: rgb(40, 47, 54);
$gray-900: rgb(10, 15, 15);
$black: rgb(12, 14, 15);
$secondary: $gray-200;
$info: $blue;
$theme-color-interval: 10%;
$enable-shadows: true;
$enable-gradients: false;
$spacer: 1.1rem;
$emphasized-link-hover-darken-percentage: 50%;
$link-hover-decoration: none;
$line-height-lg: 1.8;
$table-dark-bg: $gray-900;
$navbar-nav-link-padding-x: 0.7rem;
$breadcrumb-bg: $gray-100;
$font-size-base: 1.4rem;
$line-height-base: 1.6;
$headings-font-weight: 700;
$font-weight-bold: 600;
@import "../../../node_modules/bootstrap/scss/bootstrap";